@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@1&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: gray; }

nav.mobile {
  background-color: black;
  border-bottom: 3px solid white; }
  nav.mobile button {
    font-family: "Arapey", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: black; }
  nav.mobile li {
    border-bottom: 1px solid lightgray;
    line-height: 300%;
    font-weight: lighter;
    font-size: 14px; }
    nav.mobile li a {
      color: white;
      font-family: "Arapey", serif; }
  nav.mobile li.active {
    font-weight: bold; }
  nav.mobile li:last-child {
    border: 0; }

nav.desktop {
  position: fixed;
  z-index: 2000;
  height: 100%;
  right: 0; }
  nav.desktop li {
    font-weight: lighter;
    font-size: 1rem; }

.nav-tabs {
  border: none;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: transparent;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .nav-tabs > li {
    writing-mode: vertical-lr;
    transform-origin: center center;
    list-style-type: none; }
    .nav-tabs > li > a {
      display: block;
      padding: 0 1.6rem 1rem 1rem;
      background-color: transparent;
      color: white;
      font-family: "Nunito Sans", sans-serif;
      font-weight: normal;
      font-size: 2rem; }
  .nav-tabs a {
    text-decoration: none;
    padding-top: 0; }
  .nav-tabs .line {
    height: 25vh;
    border-left: 1px solid black;
    padding-left: .5rem;
    margin-bottom: 2rem;
    margin-top: -5vh; }
  .nav-tabs a:hover {
    font-style: normal; }
  .nav-tabs .active {
    text-decoration: underline; }
  .nav-tabs .active {
    text-decoration: underline; }

.jumbotron {
  height: 100vh;
  padding: 4rem;
  background-image: url("../img/wave-bg2.png");
  background-size: cover; }
  .jumbotron h1, .jumbotron p {
    color: white; }
  .jumbotron h1 {
    font-family: "Arapey", serif;
    font-size: 6rem; }
  .jumbotron p.lead {
    font-family: "Nunito Sans", sans-serif;
    font-size: 3rem; }
  .jumbotron p.about {
    font-family: "Nunito Sans", sans-serif;
    font-size: 2rem;
    padding-right: 4rem;
    line-height: 127%; }

.jumbotron.experience {
  background-image: none;
  background-color: gray;
  padding: 0; }

button.launch-button {
  font-family: "Arapey", serif;
  font-size: 4rem;
  border: 0;
  color: white;
  background-color: darkgray; }
  button.launch-button a {
    color: white;
    text-decoration: none; }
  button.launch-button a:hover {
    text-decoration: none; }

.overlayed {
  position: relative; }
  .overlayed video {
    width: 100%; }

.overlayed::before {
  content: ' ';
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 215, 0, 0.2); }

@media (max-width: 991.98px) {
  .overlayed::before {
    background-color: rgba(231, 84, 128, 0.2); }

  h1 {
    font-size: 2rem; } }
@media (max-width: 767.98px) {
  html, body {
    overflow-y: scroll;
    height: fit-content; }

  .jumbotron {
    height: 100%;
    min-height: 100vh; }
    .jumbotron h1 {
      font-size: 2.5rem; }
    .jumbotron p.lead {
      font-size: 1.8rem; }
    .jumbotron p.about {
      font-size: 1.5rem;
      padding-right: 0; }

  .overlayed::before {
    background-color: rgba(0, 128, 255, 0.2); } }

/*# sourceMappingURL=cacaphony.css.map */
